In [43]:
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/credit_card_pw_hindi/main/creditCardFraud_28011964_120214.csv")

In [44]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
1,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
2,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
3,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
4,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   1001 non-null   int64
 1   SEX                         1001 non-null   int64
 2   EDUCATION                   1001 non-null   int64
 3   MARRIAGE                    1001 non-null   int64
 4   AGE                         1001 non-null   int64
 5   PAY_0                       1001 non-null   int64
 6   PAY_2                       1001 non-null   int64
 7   PAY_3                       1001 non-null   int64
 8   PAY_4                       1001 non-null   int64
 9   PAY_5                       1001 non-null   int64
 10  PAY_6                       1001 non-null   int64
 11  BILL_AMT1                   1001 non-null   int64
 12  BILL_AMT2                   1001 non-null   int64
 13  BILL_AMT3                   1001 non-null   int64
 14  BILL_AMT4                   1001 non-null   int64
 15  BILL_AMT5                   1001 non-null   int64
 16  BILL_AMT6                   1001 non-null   int64
 17  PAY_AMT1                    1001 non-null   int64
 18  PAY_AMT2                    1001 non-null   int64
 19  PAY_AMT3                    1001 non-null   int64
 20  PAY_AMT4                    1001 non-null   int64
 21  PAY_AMT5                    1001 non-null   int64
 22  PAY_AMT6                    1001 non-null   int64
 23  default payment next month  1001 non-null   int64
dtypes: int64(24)
memory usage: 187.8 KB

In [48]:
X=data.drop(labels=['default payment next month'],axis=1)

In [47]:
y=data['default payment next month']

In [49]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [50]:
num_cols=[]
cat_cols=[]

In [51]:
cat_cols=X.select_dtypes(include='object').columns
num_cols=X.select_dtypes(exclude='object').columns

In [52]:
cat_cols

Index([], dtype='object')

In [53]:
num_cols

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [54]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)

In [55]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)

In [56]:
preprocessor=ColumnTransformer(
    [
    ('num_pipline',num_pipeline,num_cols),
    ('cat_pipline',cat_pipeline,cat_cols)
    ]

)

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [59]:
X_train.shape,X_test.shape

((700, 23), (301, 23))

In [60]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())

In [61]:
X_test=pd.DataFrame(preprocessor.fit_transform(X_test),columns=preprocessor.get_feature_names_out())

In [62]:
X_test.head()

,num_pipline__LIMIT_BAL,num_pipline__SEX,num_pipline__EDUCATION,num_pipline__MARRIAGE,num_pipline__AGE,num_pipline__PAY_0,num_pipline__PAY_2,num_pipline__PAY_3,num_pipline__PAY_4,num_pipline__PAY_5,...,num_pipline__BILL_AMT3,num_pipline__BILL_AMT4,num_pipline__BILL_AMT5,num_pipline__BILL_AMT6,num_pipline__PAY_AMT1,num_pipline__PAY_AMT2,num_pipline__PAY_AMT3,num_pipline__PAY_AMT4,num_pipline__PAY_AMT5,num_pipline__PAY_AMT6
0,0.432917,0.836998,0.317388,0.739830,-0.872357,-0.810846,-0.711470,-0.631552,-0.568860,-0.580160,...,-0.652480,-0.555472,-0.633224,-0.520787,0.559737,-0.494158,-0.235343,-0.343235,-0.146848,5.735783
1,1.518170,0.836998,-1.028160,0.739830,-0.654539,0.073446,0.152048,-0.631552,-0.568860,-0.580160,...,-0.643222,-0.568535,-0.622162,-0.510972,-0.300066,-0.425663,-0.325767,-0.301942,-0.103648,-0.240841
2,0.045326,-1.194747,1.662936,0.739830,0.325641,0.073446,0.152048,0.180829,0.283015,0.288637,...,-0.266070,-0.180743,-0.120360,-0.019017,-0.229878,-0.306187,-0.216864,-0.023632,0.000816,-0.046167
3,-0.884891,0.836998,-1.028160,0.739830,-1.307992,-1.695139,-1.574987,-1.443933,-1.420734,-1.448956,...,0.151517,-0.266698,-0.311676,-0.276098,-0.194784,-0.391476,-0.335280,-0.259179,0.003757,-0.143037
4,-0.884891,0.836998,1.662936,-1.131505,-0.001085,-0.810846,-0.711470,-0.631552,-1.420734,-1.448956,...,-0.659500,-0.584393,-0.633224,-0.566775,-0.019314,-0.546099,-0.435545,-0.343235,-0.349264,-0.215922

In [65]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train,Y_train)

GaussianNB()

In [67]:
from sklearn.metrics import accuracy_score 
y_pred=clf.predict(X_test)
accuracy_score(Y_test,y_pred)*100

67.109634551495